In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2

# Setup

In [ ]:
# start the postgres container in detached mode
#!docker-compose up -d

In [313]:
# make sure postgres container is running
!docker ps

CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                    NAMES
241fdec3f284        postgres:9.6        "docker-entrypoint.sâ€¦"   25 hours ago        Up 25 hours         0.0.0.0:5432->5432/tcp   ph-data-challenge_postgres_1

In [9]:
# let's connect to the postgres db

conn = psycopg2.connect(user='user',
                       password='password',
                       host='localhost',
                       port='5432',
                       database='parachutehome')
cursor = conn.cursor()

In [16]:
cursor.execute("SELECT * FROM pg_database;")
field_names = [i[0] for i in cursor.description]
print(field_names)
for row in cursor.fetchall():
    print(row)

['datname', 'datdba', 'encoding', 'datcollate', 'datctype', 'datistemplate', 'datallowconn', 'datconnlimit', 'datlastsysoid', 'datfrozenxid', 'datminmxid', 'dattablespace', 'datacl']
('postgres', 10, 6, 'en_US.utf8', 'en_US.utf8', False, True, -1, 12406, '544', '1', 1663, None)
('parachutehome', 10, 6, 'en_US.utf8', 'en_US.utf8', False, True, -1, 12406, '544', '1', 1663, None)
('template1', 10, 6, 'en_US.utf8', 'en_US.utf8', True, True, -1, 12406, '544', '1', 1663, '{=c/user,user=CTc/user}')
('template0', 10, 6, 'en_US.utf8', 'en_US.utf8', True, False, -1, 12406, '544', '1', 1663, '{=c/user,user=CTc/user}')

In [34]:
# this is ugly, let's do this using pandas
from sqlalchemy import create_engine

conn_string ='postgresql://user:password@localhost:5432/parachutehome'
engine = create_engine(conn_string)

In [35]:
engine

Engine(postgresql://user:***@localhost:5432/parachutehome)

In [36]:
sql = 'SELECT * FROM pg_database;'
info = psql.read_sql(sql, engine)

In [37]:
info.head() # this looks way better when using a jupyter notebook

,datname,datdba,encoding,datcollate,datctype,datistemplate,datallowconn,datconnlimit,datlastsysoid,datfrozenxid,datminmxid,dattablespace,datacl
0,postgres,10,6,en_US.utf8,en_US.utf8,False,True,-1,12406,544,1,1663,None
1,parachutehome,10,6,en_US.utf8,en_US.utf8,False,True,-1,12406,544,1,1663,None
2,template1,10,6,en_US.utf8,en_US.utf8,True,True,-1,12406,544,1,1663,"{=c/user,user=CTc/user}"
3,template0,10,6,en_US.utf8,en_US.utf8,True,False,-1,12406,544,1,1663,"{=c/user,user=CTc/user}"

In [26]:
customer_session = pd.read_csv('data/hashed_customer_sessions.csv')

In [27]:
customer_session.head()

                  hashed_session_id                hashed_customer_id
0  c57aa0771fb796346fc03a63e4e0c527  be810a0b66b513bfabcf5031d52779b5
1  353107b76c87dadfbfb19892f0c941c0  b2a1abbef5c0a0d5831c38b72496d0a8
2  b850e8eb0d1b88460ecf162472d4e89a  87388beb912228787291e2bc0d7a0ed0
3  4231083e92b55248fef06595245bd7f0  9f41e9f621366172371fddc824f6bb50
4  b850e8eb0d1b88460ecf162472d4e89a  c2dfbaf7fd38a937dc925d29fb59a8b6

In [28]:
customer_session.shape

(5019, 2)

In [30]:
customer_session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5019 entries, 0 to 5018
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hashed_session_id   5019 non-null   object
 1   hashed_customer_id  5019 non-null   object
dtypes: object(2)
memory usage: 78.5+ KB

In [50]:
customer_session.to_sql('customer_sessions', engine, if_exists='replace', index=False)

In [51]:
# spot check to make sure it loaded correctly 

customer_session_psql = pd.read_sql('SELECT * FROM customer_sessions', engine)

customer_session_psql.head()

                  hashed_session_id                hashed_customer_id
0  c57aa0771fb796346fc03a63e4e0c527  be810a0b66b513bfabcf5031d52779b5
1  353107b76c87dadfbfb19892f0c941c0  b2a1abbef5c0a0d5831c38b72496d0a8
2  b850e8eb0d1b88460ecf162472d4e89a  87388beb912228787291e2bc0d7a0ed0
3  4231083e92b55248fef06595245bd7f0  9f41e9f621366172371fddc824f6bb50
4  b850e8eb0d1b88460ecf162472d4e89a  c2dfbaf7fd38a937dc925d29fb59a8b6

In [43]:
customer_session_psql.shape

(5019, 2)

In [45]:
all_events = pd.read_csv('data/hashed_all_events.csv')

In [46]:
all_events.head()

,event_id,hashed_session_id,hashed_customer_id,timestamp_client,timestamp_server,event_type,event_value,context_device,context_timezone,context_location_city,...,context_referrer_search,context_referrer_url,pr_item_product_name,pr_item_variant_name,pr_item_price,pr_item_compare_at_price,pr_item_material,pr_item_color,pr_item_size,pr_item_quantity
0,2020-10-28T00:00:56.734Z-108103034,eb152918a83efe2ff565dcd7d101d04a,e1a51c0c63dba246090ff1c264d6b5ff,2020-10-28 00:00:01,2020-10-28 00:00:01,viewed-variant,NaN,desktop,America/Los_Angeles,Los Angeles,...,NaN,NaN,Cloud Cotton Quilt,Full/Queen / White,249.0,NaN,cloud-cotton-quilt,white,NaN,NaN
1,2020-10-28T00:00:56.734Z-108103031,7ed65d5d7ea0281a46596ec2a0de4460,NaN,2020-10-28 00:00:01,2020-10-28 00:00:01,viewed-variant,NaN,desktop,America/Los_Angeles,San Francisco,...,NaN,NaN,Two Tone Towels,Towel Set / White and Ivory,150.0,NaN,two-tone-turkish-cotton,white and ivory,NaN,NaN
2,2020-10-28T00:00:56.734Z-108103041,8c3e4f4bb220be7def22edd115ae6140,NaN,2020-10-28 00:00:02,2020-10-28 00:00:02,viewed-variant,NaN,mobile,America/New_York,Beach Haven,...,NaN,NaN,Cloud Cotton Euro Sham,Smoke,59.0,NaN,cloud-cotton,smoke,NaN,NaN
3,2020-10-28T00:00:56.734Z-108103047,d6a3961baa17cf335326cb32154e44c4,NaN,2020-10-28 00:00:03.912,2020-10-28 00:00:04,viewed-variant,NaN,desktop,America/Phoenix,Mesa,...,NaN,NaN,Classic Towels,Towel Set / White,114.0,NaN,aerocotton,white,NaN,NaN
4,2020-10-28T00:00:56.734Z-108103052,08fb597432f1332081734a9f8312aec1,cf7c9eb42e65dd3d4801d9b1bcb7f6a2,2020-10-28 00:00:05,2020-10-28 00:00:05,added-to-cart-variant,NaN,desktop,America/Los_Angeles,Placentia,...,NaN,NaN,Honeycomb Duvet Cover Set,Full/Queen / Cream,259.0,NaN,honeycomb,cream,NaN,NaN

In [47]:
all_events.columns

Index(['event_id', 'hashed_session_id', 'hashed_customer_id',
       'timestamp_client', 'timestamp_server', 'event_type', 'event_value',
       'context_device', 'context_timezone', 'context_location_city',
       'context_location_region', 'context_location_country',
       'context_utm_source', 'context_utm_medium', 'context_utm_campaign',
       'context_utm_term', 'context_utm_content', 'context_page_path',
       'context_page_search', 'context_page_url', 'context_referrer_path',
       'context_referrer_search', 'context_referrer_url',
       'pr_item_product_name', 'pr_item_variant_name', 'pr_item_price',
       'pr_item_compare_at_price', 'pr_item_material', 'pr_item_color',
       'pr_item_size', 'pr_item_quantity'],
      dtype='object')

In [48]:
all_events.shape

(113037, 31)

In [49]:
all_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113037 entries, 0 to 113036
Data columns (total 31 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   event_id                  113037 non-null  object
 1   hashed_session_id         113037 non-null  object
 2   hashed_customer_id        24086 non-null   object
 3   timestamp_client          113037 non-null  object
 4   timestamp_server          113037 non-null  object
 5   event_type                113037 non-null  object
 6   event_value               0 non-null       float64
 7   context_device            113028 non-null  object
 8   context_timezone          113017 non-null  object
 9   context_location_city     108399 non-null  object
 10  context_location_region   109168 non-null  object
 11  context_location_country  112987 non-null  object
 12  context_utm_source        38856 non-null   object
 13  context_utm_medium        37319 non-null   object
 14  context_utm_campaign      30687 non-null   object
 15  context_utm_term          864 non-null     object
 16  context_utm_content       6241 non-null    object
 17  context_page_path         111803 non-null  object
 18  context_page_search       66150 non-null   object
 19  context_page_url          111803 non-null  object
 20  context_referrer_path     1204 non-null    object
 21  context_referrer_search   539 non-null     object
 22  context_referrer_url      1204 non-null    object
 23  pr_item_product_name      113002 non-null  object
 24  pr_item_variant_name      112990 non-null  object
 25  pr_item_price             113002 non-null  float64
 26  pr_item_compare_at_price  8534 non-null    float64
 27  pr_item_material          102167 non-null  object
 28  pr_item_color             85138 non-null   object
 29  pr_item_size              0 non-null       float64
 30  pr_item_quantity          3744 non-null    float64
dtypes: float64(5), object(26)
memory usage: 26.7+ MB

In [52]:
all_events.to_sql('all_events', engine, if_exists='replace', index=False)

In [53]:
# spot check to make sure it worked

all_events_psql = pd.read_sql('SELECT * FROM all_events', engine)

all_events_psql.head()

,event_id,hashed_session_id,hashed_customer_id,timestamp_client,timestamp_server,event_type,event_value,context_device,context_timezone,context_location_city,...,context_referrer_search,context_referrer_url,pr_item_product_name,pr_item_variant_name,pr_item_price,pr_item_compare_at_price,pr_item_material,pr_item_color,pr_item_size,pr_item_quantity
0,2020-10-28T00:00:56.734Z-108103034,eb152918a83efe2ff565dcd7d101d04a,e1a51c0c63dba246090ff1c264d6b5ff,2020-10-28 00:00:01,2020-10-28 00:00:01,viewed-variant,None,desktop,America/Los_Angeles,Los Angeles,...,None,None,Cloud Cotton Quilt,Full/Queen / White,249.0,NaN,cloud-cotton-quilt,white,None,NaN
1,2020-10-28T00:00:56.734Z-108103031,7ed65d5d7ea0281a46596ec2a0de4460,None,2020-10-28 00:00:01,2020-10-28 00:00:01,viewed-variant,None,desktop,America/Los_Angeles,San Francisco,...,None,None,Two Tone Towels,Towel Set / White and Ivory,150.0,NaN,two-tone-turkish-cotton,white and ivory,None,NaN
2,2020-10-28T00:00:56.734Z-108103041,8c3e4f4bb220be7def22edd115ae6140,None,2020-10-28 00:00:02,2020-10-28 00:00:02,viewed-variant,None,mobile,America/New_York,Beach Haven,...,None,None,Cloud Cotton Euro Sham,Smoke,59.0,NaN,cloud-cotton,smoke,None,NaN
3,2020-10-28T00:00:56.734Z-108103047,d6a3961baa17cf335326cb32154e44c4,None,2020-10-28 00:00:03.912,2020-10-28 00:00:04,viewed-variant,None,desktop,America/Phoenix,Mesa,...,None,None,Classic Towels,Towel Set / White,114.0,NaN,aerocotton,white,None,NaN
4,2020-10-28T00:00:56.734Z-108103052,08fb597432f1332081734a9f8312aec1,cf7c9eb42e65dd3d4801d9b1bcb7f6a2,2020-10-28 00:00:05,2020-10-28 00:00:05,added-to-cart-variant,None,desktop,America/Los_Angeles,Placentia,...,None,None,Honeycomb Duvet Cover Set,Full/Queen / Cream,259.0,NaN,honeycomb,cream,None,NaN

In [54]:
all_events_psql.shape

(113037, 31)

Great, we have successfully loaded the data in a postgresql database. The two tables are called "all_events" and "customer_sessions". Now we can start inspecting the data using sql and answering some of the challenge questions!

# Identity Stitching

At a high level, identity stitching is the process by which event data is enriched/processed in order to associate unidentifiable events with a particular person. The goal is enhance understanding of how people as a group are interacting with a product, making purchases, etc. Not everyone who interacts with a webpage/app will do so as a logged in user and so identity stitching is important to understand the full customer event journey.

For example, a customer looking to purchase a new pillow might be guided to "Company XYZ" through a Google Ad. They are currently commuting home on the subway and find a pillow they want to purchase on their smartphone. They wait until they get home to then go to "Company XYZ"'s website directly on their laptop, and purchase the pillow. Since multiple devices were used, the data might present the erroneous story of a User directed to the site via a Google Ad, then viewed a product without purchasing. Then, a 2nd user went to the site directly, and made a purchase. Identity stitching could help tie these diaparate events together to form a complete picture.

## Note: Since the challenge is expected to be completed in SQL, from here on out I will only use Pandas as an interface to execute/visualize SQL statements, no Python scripting will be done to analyze data, merely execute/visualize (using Matplotlib/seaborn)

In [61]:
# first, lets do some digging on customer_sessions

sql = '''
    SELECT
        COUNT(*)
    FROM customer_sessions
    LIMIT 10
'''

output = pd.read_sql(sql, engine)

output

   count
0   5019

In [60]:
sql = '''
    SELECT
        COUNT(DISTINCT hashed_session_id)
    FROM customer_sessions
    LIMIT 10
'''

output = pd.read_sql(sql, engine)

output

# looks like 20 non-unique session_ids

   count
0   4999

In [62]:
sql = '''
    SELECT
        COUNT(DISTINCT hashed_customer_id)
    FROM customer_sessions
    LIMIT 10
'''

output = pd.read_sql(sql, engine)

output

# many customer_ids appear multiple times

   count
0   4787

In [66]:
sql = '''
    SELECT
       hashed_customer_id, 
       COUNT(*)
    FROM customer_sessions
    GROUP BY 1
    ORDER BY 2 DESC
    LIMIT 10
'''

output = pd.read_sql(sql, engine)

output
# looks like the majority of users only have a few session ids associated with them

                 hashed_customer_id  count
0  a510d7fd998ea135a695b47756b5135e     13
1  e1cd36a0815128b97bccb0404e0e259e      8
2  92e313a0c539ad919f673a7227eb0371      8
3  2d3a395255af14ec2526b9f0fcb1b20b      8
4  f1ce6cda0059f6c1f6d0dff05c83a2e9      6
5  0cd42d9fe9c8b5e1ca4d921e4af93f8f      6
6  2f838cade4a6012a6cb1016d1d8d95ed      5
7  d6d66bbc22be8e706f551cb626034ac4      5
8  a3c7a78f574496fb0f36f863cc3bed68      4
9  67ca2aced92688fac9fd366755f42594      4

In [72]:
# lets dig into the events table a bit more

sql = '''
    SELECT
        column_name, 
        data_type
    FROM information_schema.columns
    WHERE table_name = 'all_events'
'''

output = pd.read_sql(sql, engine)

output

# looks like the timestamp columns are string type and not TIMESTAMP, lets change this

                 column_name         data_type
0                   event_id              text
1          hashed_session_id              text
2         hashed_customer_id              text
3           timestamp_client              text
4           timestamp_server              text
5                 event_type              text
6                event_value  double precision
7             context_device              text
8           context_timezone              text
9      context_location_city              text
10   context_location_region              text
11  context_location_country              text
12        context_utm_source              text
13        context_utm_medium              text
14      context_utm_campaign              text
15          context_utm_term              text
16       context_utm_content              text
17         context_page_path              text
18       context_page_search              text
19          context_page_url              text
20     context_referrer_path              text
21   context_referrer_search              text
22      context_referrer_url              text
23      pr_item_product_name              text
24      pr_item_variant_name              text
25             pr_item_price  double precision
26  pr_item_compare_at_price  double precision
27          pr_item_material              text
28             pr_item_color              text
29              pr_item_size  double precision
30          pr_item_quantity  double precision

In [86]:
# But first, let's make a helper function to execute sql so we aren't typing away

def execute_sql(sql):
    
    output = pd.read_sql(sql, engine)
    
    return output

In [401]:
#sql = "ALTER TABLE all_events ALTER column timestamp_client TYPE TIMESTAMP WITH TIME ZONE USING timestamp_client::timestamp AT TIME ZONE 'UTC';"

#execute_sql(sql)

In [402]:
#sql = "ALTER TABLE all_events ALTER column timestamp_server TYPE TIMESTAMP WITH TIME ZONE USING timestamp_server::timestamp AT TIME ZONE 'UTC';"

#execute_sql(sql)

In [89]:
sql = '''
    SELECT
        column_name, 
        data_type
    FROM information_schema.columns
    WHERE table_name = 'all_events'
'''

execute_sql(sql)

                 column_name                 data_type
0                   event_id                      text
1          hashed_session_id                      text
2         hashed_customer_id                      text
3           timestamp_client  timestamp with time zone
4           timestamp_server  timestamp with time zone
5                 event_type                      text
6                event_value          double precision
7             context_device                      text
8           context_timezone                      text
9      context_location_city                      text
10   context_location_region                      text
11  context_location_country                      text
12        context_utm_source                      text
13        context_utm_medium                      text
14      context_utm_campaign                      text
15          context_utm_term                      text
16       context_utm_content                      text
17         context_page_path                      text
18       context_page_search                      text
19          context_page_url                      text
20     context_referrer_path                      text
21   context_referrer_search                      text
22      context_referrer_url                      text
23      pr_item_product_name                      text
24      pr_item_variant_name                      text
25             pr_item_price          double precision
26  pr_item_compare_at_price          double precision
27          pr_item_material                      text
28             pr_item_color                      text
29              pr_item_size          double precision
30          pr_item_quantity          double precision

In [90]:
# great, now the data is properly typed, let's continue with the identity stitching

In [92]:
sql = """
    SELECT
        event_id, 
        hashed_session_id,
        hashed_customer_id,
        event_type
    FROM all_events
    LIMIT 5
"""

execute_sql(sql)

,event_id,hashed_session_id,hashed_customer_id,event_type
0,2020-10-28T00:00:56.734Z-108103034,eb152918a83efe2ff565dcd7d101d04a,e1a51c0c63dba246090ff1c264d6b5ff,viewed-variant
1,2020-10-28T00:00:56.734Z-108103031,7ed65d5d7ea0281a46596ec2a0de4460,None,viewed-variant
2,2020-10-28T00:00:56.734Z-108103041,8c3e4f4bb220be7def22edd115ae6140,None,viewed-variant
3,2020-10-28T00:00:56.734Z-108103047,d6a3961baa17cf335326cb32154e44c4,None,viewed-variant
4,2020-10-28T00:00:56.734Z-108103052,08fb597432f1332081734a9f8312aec1,cf7c9eb42e65dd3d4801d9b1bcb7f6a2,added-to-cart-variant

In [102]:
sql = '''
    SELECT
        SUM(CASE WHEN hashed_customer_id IS NOT NULL THEN 1 ELSE 0 END) AS count_non_null,
        SUM(CASE WHEN hashed_customer_id IS NOT NULL THEN 0 ELSE 1 END) AS count_null,
        count(*) AS total_events    
    FROM all_events;
'''

execute_sql(sql)

# many customer_ids are NULL, this highlights the need for identity stitching

   count_non_null  count_null  total_events
0           24086       88951        113037

In [117]:
sql = '''
    WITH joined_users AS (
    
    SELECT
        c.*,
        e.event_id,
        e.hashed_session_id AS event_session_id,
        e.hashed_customer_id AS event_customer_id
    FROM all_events e 
    LEFT JOIN customer_sessions c USING(hashed_session_id)
)

    SELECT
        *
    FROM joined_users 
    WHERE event_customer_id IS NULL
    AND hashed_customer_id IS NOT NULL
    
'''

execute_sql(sql)

# As a first pass, ~14k customer_ids can be filled in using the customer_sessions mapping table

,hashed_session_id,hashed_customer_id,event_id,event_session_id,event_customer_id
0,8c3e4f4bb220be7def22edd115ae6140,03d75af4ebe5723dd66e55c516e6c7a8,2020-10-28T00:00:56.734Z-108103041,8c3e4f4bb220be7def22edd115ae6140,None
1,b16a73cab6e2f056d5310fd409456869,f0166635f1c5614dc21771fab5d8b37b,2020-10-28T00:30:57.260Z-108103434,b16a73cab6e2f056d5310fd409456869,None
2,57b74560ac1d8c4a571b8a55e64bd95d,af50c3b860dcf3c8c89355d8d8a9db97,2020-10-28T00:30:57.260Z-108103503,57b74560ac1d8c4a571b8a55e64bd95d,None
3,57b74560ac1d8c4a571b8a55e64bd95d,af50c3b860dcf3c8c89355d8d8a9db97,2020-10-28T00:30:57.260Z-108103504,57b74560ac1d8c4a571b8a55e64bd95d,None
4,106b51170782772f3954e4a4851019f9,a4863738bd87d94b707faa886fc868a2,2020-10-28T00:30:57.260Z-108103468,106b51170782772f3954e4a4851019f9,None
...,...,...,...,...,...
13733,c3eef8dfffbe625c4b50d1685e4ffe03,d8c9863e35b9a909ec83bf8ea3deb74f,2020-10-29T00:00:57.381Z-108413459,c3eef8dfffbe625c4b50d1685e4ffe03,None
13734,3abb69240df0b6e29eb8ebcf66f7eb76,383811f3fa851797cd04fa7904e5cf54,2020-10-29T00:00:57.381Z-108413506,3abb69240df0b6e29eb8ebcf66f7eb76,None
13735,bd7eb9f60a393ca5dc5e46fb43aabe4c,b33baa58be6d152d07851c88890cd963,2020-10-29T00:00:57.381Z-108413769,bd7eb9f60a393ca5dc5e46fb43aabe4c,None
13736,b27de65298a494c20e6d03e1ab02e4e5,502b999dfccab463fab46b72180f120c,2020-10-29T00:00:57.381Z-108413873,b27de65298a494c20e6d03e1ab02e4e5,None
13737,e4a52d0d309fde90711be04c10ec691d,ec2022da38cd5dc13f012f8f2f336c8c,2020-10-29T00:00:57.381Z-108413934,e4a52d0d309fde90711be04c10ec691d,None

In [156]:
sql = '''
    SELECT
        e.*,
        c.hashed_customer_id AS enriched_customer_id
    FROM all_events e
    LEFT JOIN customer_sessions c USING(hashed_session_id)
'''

output = execute_sql(sql)

In [160]:
output.to_sql('all_events_enriched', engine, if_exists='replace', index='False')

In [163]:
sql = '''
    SELECT
        SUM(CASE WHEN enriched_customer_id IS NOT NULL THEN 1 ELSE 0 END) AS count_non_null,
        SUM(CASE WHEN enriched_customer_id IS NOT NULL THEN 0 ELSE 1 END) AS count_null,
        count(*) AS total_events    
    FROM all_events_enriched;
'''

execute_sql(sql)

   count_non_null  count_null  total_events
0           38011       75306        113317

As more clickstream data is generated, we can enrich the customer_sessions table with more known session_id/customer_id identifiers.
New data would be appended to the customer_sessions table then deduped

In [179]:
sql = '''
    WITH extra_customers AS (SELECT
        DISTINCT hashed_session_id,
        hashed_customer_id
    FROM all_events
    WHERE hashed_customer_id IS NOT NULL
    
    UNION 
    
    SELECT * FROM customer_sessions
    )
    
    SELECT 
        *
    FROM extra_customers
            
'''

execute_sql(sql)

                     hashed_session_id                hashed_customer_id
0     e0a64b0de0e2d3ef9c04765f65c4adb0  59ccb544118bbf015d877b58a4fc76a4
1     fac4da73bdf327a840bf46170e7a0314  367907a635fece4223506e65a6996703
2     65af6ff7b5f7cef19c570c68e3485a41  71c3c2b48c2bd918a98b87c7cab71add
3     faa8667462893a62556c2ac186b3dcce  e9bb58d628ed9ecc77c87f764c9f9a7e
4     e88b2a1fd4c157fd033f96519b0dfbf2  00a28f235b6b527d8e77a9584aa659ee
...                                ...                               ...
5014  b6ecee9468758529cac11267f2803353  0b388fdceeb04d6652d24a95dbdc1a61
5015  1899828340768d4dfc8224cc1f60293d  92b5eb942a693af473d741b2c487fdd5
5016  2f3cf2fa7ca69a39929d1c388ce4a49e  eda4536d2ec0bb6896af450560a48b8f
5017  96f8ca2b8c1b98f37c9951110ff4266e  d38e7fac9ab40dc663181528a189cb85
5018  169f56e9eed9716b7d098d3140fd27d4  1aeb88a53b78f51dc0c8b973639f568f

[5019 rows x 2 columns]

# Purchase Funnel Analysis

In [185]:
sql = '''
    SELECT
        MIN(timestamp_client),
        MAX(timestamp_client)
    FROM all_events_enriched

'''

execute_sql(sql)

# looks to be a days worth of data, good to use the entire dataset

                        min                       max
0 2020-10-28 00:00:01+00:00 2020-10-28 23:59:58+00:00

In a purchase funnel analysis, the goal is to evaluate the customer dropoff at certain steps of the purchase (or sales) funnel. 
So, we need to transform the raw event data into a format suitable for analysts to query and evaluate customer journey to conversion.

There seems to be 4 funnel steps in `all_events` 
- viewed-variant
- added-to-cart-variant
- started-checkout-variant
- purchased-variant

So, I will construct a table that follows each user's journey through these four steps, in order for analysts to easily query and analyze the purchase funnel

In [257]:
sql = '''
    
    WITH viewers AS (
        SELECT
            DISTINCT enriched_customer_id
        FROM all_events_enriched
        WHERE event_type = 'viewed-variant'
    ),
    
    adders AS (
        SELECT
            DISTINCT e.enriched_customer_id
        FROM viewers v
        INNER JOIN all_events_enriched e USING(enriched_customer_id)
        WHERE e.event_type='added-to-cart-variant'
    ),
    
    checkouters AS (
        SELECT
            DISTINCT e.enriched_customer_id
        FROM adders a 
        INNER JOIN all_events_enriched e USING(enriched_customer_id)
        WHERE e.event_type='started-checkout-variant'
    ),
    
    purchasers AS (
        SELECT
            DISTINCT e.enriched_customer_id
        FROM checkouters c 
        INNER JOIN all_events_enriched e USING(enriched_customer_id)
        WHERE e.event_type = 'purchased-variant'
    )
    
    SELECT 'View' AS step, 1 AS order_key, * FROM viewers
    
    UNION
    
    SELECT 'Add to Cart' AS step, 2 AS order_key, * FROM adders
    
    UNION
    
    SELECT 'Begin Checkout' AS step, 3 AS order_key, *  FROM checkouters
    
    UNION 
    
    SELECT 'Purchase' AS step, 4 AS order_key, *  FROM purchasers

'''

output = execute_sql(sql)

output

                step  order_key              enriched_customer_id
0               View          1  d1d3a7966af0f210f1b5ff9f8c6e55f4
1               View          1  43606fb0ee4264097f44e53743208f04
2               View          1  7d787bb950167c81630d2f1256eec848
3               View          1  6036372a6a5e1ae34e17679ef654c848
4               View          1  c971dedeed881316d782e59fb36e5ee4
...              ...        ...                               ...
7510  Begin Checkout          3  4facbc796b5cc1acc4dcb6bc332b530e
7511        Purchase          4  e40d9cb4faec57c86b2760ea5afc636f
7512            View          1  3a43a1bdb37b8dec61cde9e226395709
7513            View          1  61624414d1bd785856233451bbeea64f
7514     Add to Cart          2  8fb33726e2d23c42a033f5dc7796a98b

[7515 rows x 3 columns]

In [258]:
output.to_sql('purchase_funnel', engine, if_exists='replace', index=False)

In [259]:
sql = 'SELECT * FROM purchase_funnel'
execute_sql(sql)

                step  order_key              enriched_customer_id
0               View          1  d1d3a7966af0f210f1b5ff9f8c6e55f4
1               View          1  43606fb0ee4264097f44e53743208f04
2               View          1  7d787bb950167c81630d2f1256eec848
3               View          1  6036372a6a5e1ae34e17679ef654c848
4               View          1  c971dedeed881316d782e59fb36e5ee4
...              ...        ...                               ...
7510  Begin Checkout          3  4facbc796b5cc1acc4dcb6bc332b530e
7511        Purchase          4  e40d9cb4faec57c86b2760ea5afc636f
7512            View          1  3a43a1bdb37b8dec61cde9e226395709
7513            View          1  61624414d1bd785856233451bbeea64f
7514     Add to Cart          2  8fb33726e2d23c42a033f5dc7796a98b

[7515 rows x 3 columns]

In [260]:
# Now we can do a simple purchase funnel analysis, to calculate dropoff at each step.
# NOTE: I added an `order_key` column for correct sorting
# If this query is too complicated for analysts, this can also be saved as a view/incrementally building table 

sql = '''

    SELECT
        order_key,
        step, 
        COUNT(*),
        LAG(COUNT(*), -1) OVER (ORDER BY order_key DESC) as lag,
        COALESCE(ROUND((1.0 - (COUNT(*) / LAG(COUNT(*), -1) OVER (ORDER BY order_key DESC)::numeric)), 2), 1) AS dropoff
    FROM purchase_funnel
    GROUP BY 1,2
    ORDER BY order_key ASC
'''

execute_sql(sql)

   order_key            step  count     lag  dropoff
0          1            View   4740     NaN     1.00
1          2     Add to Cart   1193  4740.0     0.75
2          3  Begin Checkout    881  1193.0     0.26
3          4        Purchase    701   881.0     0.20

In [285]:
# We can also take this a step further and breakdown the purchase funnel into more slices ie by product

sql = '''
    
    WITH viewers AS (
        SELECT
            DISTINCT pr_item_product_name,
            enriched_customer_id
        FROM all_events_enriched
        WHERE event_type = 'viewed-variant'
    ),
    
    adders AS (
        SELECT
            DISTINCT e.pr_item_product_name,
            e.enriched_customer_id
        FROM viewers v
        INNER JOIN all_events_enriched e USING(enriched_customer_id)
        WHERE e.event_type='added-to-cart-variant'
    ),
    
    checkouters AS (
        SELECT
            DISTINCT e.pr_item_product_name,
            e.enriched_customer_id
        FROM adders a 
        INNER JOIN all_events_enriched e USING(enriched_customer_id)
        WHERE e.event_type='started-checkout-variant'
    ),
    
    purchasers AS (
        SELECT
            DISTINCT e.pr_item_product_name,
            e.enriched_customer_id
        FROM checkouters c 
        INNER JOIN all_events_enriched e USING(enriched_customer_id)
        WHERE e.event_type='purchased-variant'
    )
    
    SELECT 'View' AS step, 1 AS order_key, * FROM viewers
    
    UNION
    
    SELECT 'Add to Cart' AS step, 2 AS order_key, * FROM adders
    
    UNION
    
    SELECT 'Begin Checkout' AS step, 3 AS order_key, *  FROM checkouters
    
    UNION 
    
    SELECT 'Purchase' AS step, 4 AS order_key, *  FROM purchasers

'''

output = execute_sql(sql)

output

,step,order_key,pr_item_product_name,enriched_customer_id
0,Add to Cart,2,Linen Fitted Sheet,8fc0854995f76db3967e8895ef8f6f6a
1,View,1,Quilt,34fc99320da3e4c777062699d4fc8e65
2,View,1,Cloud Cotton Robe,c9a9e650260342dbf872d8b10e069081
3,View,1,Women's Waffle Lounge Set,88804947ad9f43ab446f7ed938060ef8
4,View,1,Classic Starter Bathroom Bundle,3ca897e259569a21ff94831f801cc98b
...,...,...,...,...
15017,Purchase,4,Percale Pillowcase Set,e22a819b42f30ce98837ec92877c8f57
15018,View,1,Percale Pillowcase Set,2e56e8d4d6dc9e54a1bb72f56b79fcdc
15019,Begin Checkout,3,Classic Slippers,62430573b118358e5001d8586b2755c0
15020,View,1,Alpaca Boucle Throw,a510d7fd998ea135a695b47756b5135e
15021,Add to Cart,2,Color Block Lumbar Pillow Cover,55603a5f239e435c642244be3e891b85

In [286]:
output.to_sql('purchase_funnel_product', engine, if_exists='replace', index=False)

In [288]:
# Analysts can filter by product

sql = '''

    SELECT
        order_key,
        pr_item_product_name,
        step, 
        COUNT(*),
        LAG(COUNT(*), -1) OVER (ORDER BY order_key DESC) as lag,
        COALESCE(ROUND((1.0 - (COUNT(*) / LAG(COUNT(*), -1) OVER (ORDER BY order_key DESC)::numeric)), 2), 1) AS dropoff
    FROM purchase_funnel_product
    WHERE pr_item_product_name = 'Baby Washcloth'
    GROUP BY 1,2,3
    ORDER BY order_key ASC
'''

execute_sql(sql)

   order_key pr_item_product_name            step  count  lag  dropoff
0          1       Baby Washcloth            View      3  NaN     1.00
1          2       Baby Washcloth     Add to Cart      1  3.0     0.67
2          3       Baby Washcloth  Begin Checkout      1  1.0     0.00
3          4       Baby Washcloth        Purchase      1  1.0     0.00

In [309]:
# Which products have the highest dropoff rate from Start Checkout to Purchase

sql = '''

    WITH all_dropoffs AS (
    
    SELECT
        order_key,
        pr_item_product_name,
        step, 
        COUNT(*),
        LAG(COUNT(*), -1) OVER (PARTITION BY pr_item_product_name ORDER BY order_key DESC) as lag,
        COALESCE(ROUND((1.0 - (COUNT(*) / LAG(COUNT(*), -1) OVER (PARTITION BY pr_item_product_name ORDER BY order_key DESC)::numeric)), 2), 1) AS dropoff
    FROM purchase_funnel_product
    GROUP BY 1,2,3
    ORDER BY pr_item_product_name DESC, order_key ASC
),

    low_product_conversion AS (
    
    SELECT
        pr_item_product_name
    FROM all_dropoffs
    WHERE step='Purchase'
    GROUP BY 1
    HAVING MAX(dropoff) = (SELECT MAX(dropoff) FROM all_dropoffs WHERE step='Purchase')
    )
    
    SELECT
        order_key,
        pr_item_product_name,
        step, 
        COUNT(*),
        LAG(COUNT(*), -1) OVER (PARTITION BY pr_item_product_name ORDER BY order_key DESC) as lag,
        COALESCE(ROUND((1.0 - (COUNT(*) / LAG(COUNT(*), -1) OVER (PARTITION BY pr_item_product_name ORDER BY order_key DESC)::numeric)), 2), 1) AS dropoff
    FROM purchase_funnel_product
    WHERE pr_item_product_name IN (SELECT pr_item_product_name FROM low_product_conversion)
    GROUP BY 1,2,3
    ORDER BY pr_item_product_name DESC, order_key ASC
'''

execute_sql(sql)

   order_key      pr_item_product_name            step  count   lag  dropoff
0          1   Vintage Linen Bed Cover            View     60   NaN     1.00
1          2   Vintage Linen Bed Cover     Add to Cart      9  60.0     0.85
2          3   Vintage Linen Bed Cover  Begin Checkout      4   9.0     0.56
3          4   Vintage Linen Bed Cover        Purchase      1   4.0     0.75
4          1  Percale Double Up Bundle            View      5   NaN     1.00
5          2  Percale Double Up Bundle     Add to Cart      4   5.0     0.20
6          3  Percale Double Up Bundle  Begin Checkout      4   4.0     0.00
7          4  Percale Double Up Bundle        Purchase      1   4.0     0.75

In [312]:
# Which users did not convert from Start Checkout to Purchase, maybe send them a reminder email

sql = '''
    WITH checkouters AS (
        SELECT
            *
        FROM purchase_funnel 
        WHERE step='Begin Checkout'
    ),
    
    purchasers AS (
        SELECT
            *
        FROM purchase_funnel
        WHERE step='Purchase'
    )
    
    SELECT
        DISTINCT enriched_customer_id
    FROM checkouters c
    LEFT JOIN purchasers p USING(enriched_customer_id)
    WHERE p.enriched_customer_id IS NULL
'''

execute_sql(sql)

                 enriched_customer_id
0    11d99c50230a2d164c79e4e72726fd05
1    2006cee074c793f70e756dbee2febd3e
2    d064895dfec5e16fcb9e418f7f178e46
3    78062a057facaa011e4889fcd2a00e4c
4    c97f842f204b5db24d5549229df64037
..                                ...
175  28b8a1193a9ad74a7d7af499d87cbfdd
176  e7a82eac60a2917a4d3e5eb0007933b5
177  a998754d6441bc4e70a39a229111d6a7
178  425a3c0e1b439228d59cf47c448ff283
179  4988b46106e0ac55fbf2762d55b89e8b

[180 rows x 1 columns]

# Other Insights

In [315]:
# find the most loyal customers ie the customers with the most purchases

sql = '''
    SELECT
        enriched_customer_id,
        COUNT(*)
    FROM all_events_enriched
    WHERE event_type='purchased-variant'
    GROUP BY 1
    ORDER BY 2 DESC
'''

execute_sql(sql)

                 enriched_customer_id  count
0    900763d5782a63ace76d387d1f9e3bc8     11
1    af50c3b860dcf3c8c89355d8d8a9db97      9
2    6b8e31c9bd474fb258b308a0384aa5a7      7
3    e86e2be0ae27850f685eb3bdc1f1ee79      6
4    e0a46235c04816024acfbcd01984237b      6
..                                ...    ...
768  6ec301572c054d295a0359e9249408ab      1
769  6f15425a7a331278b103063665cf5b11      1
770  6fde059de50615d643a2c178be54c4f3      1
771  7015b82dffb511a406dd542fc8f7dcb0      1
772  70cd4fbb533af18ebdc33fae2196626c      1

[773 rows x 2 columns]

Before continuing, I just want to get a feel of the data (since the jupyter UI can only load so many columns!)

In [316]:
sql = '''
    
    SELECT
        context_device,
        context_timezone,
        context_location_city,
        context_location_region,
        context_location_country
    FROM all_events_enriched
    LIMIT 10

'''

execute_sql(sql)

,context_device,context_timezone,context_location_city,context_location_region,context_location_country
0,desktop,America/Los_Angeles,Los Angeles,California,United States
1,desktop,America/Los_Angeles,San Francisco,California,United States
2,mobile,America/New_York,Beach Haven,New Jersey,United States
3,desktop,America/Phoenix,Mesa,Arizona,United States
4,desktop,America/Los_Angeles,Placentia,California,United States
5,desktop,America/Chicago,Austin,Texas,United States
6,mobile,America/New_York,Rocky River,Ohio,United States
7,mobile,America/Chicago,Houston,Texas,United States
8,desktop,America/Los_Angeles,Los Angeles,California,United States
9,tablet,America/Denver,Littleton,Colorado,United States

In [320]:
sql = '''
    
    SELECT
        context_utm_source,
        context_utm_medium,
        context_utm_campaign,
        context_utm_term,
        context_utm_content
    FROM all_events_enriched
    WHERE context_utm_medium IS NOT NULL
    LIMIT 10

'''

execute_sql(sql)

,context_utm_source,context_utm_medium,context_utm_campaign,context_utm_term,context_utm_content
0,pepperjam,referral,affiliate,None,None
1,pepperjam,referral,affiliate,None,None
2,pepperjam,referral,affiliate,None,None
3,facebook,social,prospecting,None,bedding
4,facebook,social,prospecting,None,bedding
5,pepperjam,referral,affiliate,None,None
6,facebook,social,prospecting,None,jonocollab
7,googleshopping,cpc,None,None,None
8,googleshopping,cpc,None,None,None
9,facebook,social,prospecting,None,bedding

In [323]:
sql = '''
    
    SELECT
        context_page_path,
        context_page_search,
        context_page_url,
        context_referrer_path,
        context_referrer_search,
        context_referrer_url,
        context_utm_source,
        context_utm_medium,
        context_utm_campaign,
        context_utm_term,
        context_utm_content
    FROM all_events_enriched
    WHERE context_utm_medium IS NOT NULL
    LIMIT 10

'''

execute_sql(sql)

,context_page_path,context_page_search,context_page_url,context_referrer_path,context_referrer_search,context_referrer_url,context_utm_source,context_utm_medium,context_utm_campaign,context_utm_term,context_utm_content
0,/products/percale-fitted-sheet,?opt-color=sand&opt-size=queen,https://www.parachutehome.com/products/percale...,None,None,None,pepperjam,referral,affiliate,None,None
1,/products/percale-fitted-sheet,?opt-color=sand&opt-size=queen,https://www.parachutehome.com/products/percale...,None,None,None,pepperjam,referral,affiliate,None,None
2,/products/percale-fitted-sheet,?opt-color=light-grey&opt-size=queen,https://www.parachutehome.com/products/percale...,None,None,None,pepperjam,referral,affiliate,None,None
3,/products/quilt-cloud-cotton,?opt-color=white&opt-size=kingcal-king,https://www.parachutehome.com/products/quilt-c...,None,None,None,facebook,social,prospecting,None,bedding
4,/products/quilt-cloud-cotton,?opt-color=steel-and-smoke&opt-size=kingcal-king,https://www.parachutehome.com/products/quilt-c...,None,None,None,facebook,social,prospecting,None,bedding
5,/products/down-duvet,?opt-size=kingcal-king,https://www.parachutehome.com/products/down-du...,None,None,None,pepperjam,referral,affiliate,None,None
6,/products/washed-linen-tabletop,?opt-color=teal&opt-size=table-runner,https://www.parachutehome.com/products/washed-...,None,None,None,facebook,social,prospecting,None,jonocollab
7,/,None,https://www.parachutehome.com/,None,None,None,googleshopping,cpc,None,None,None
8,/,None,https://www.parachutehome.com/,None,None,None,googleshopping,cpc,None,None,None
9,/products/quilt-pieced,None,https://www.parachutehome.com/products/quilt-p...,None,None,None,facebook,social,prospecting,None,bedding

In [332]:
# Which utm source is driving the most traffic to the site?

sql = '''
    SELECT
        context_utm_source,
        COUNT(*)
    FROM all_events_enriched
    WHERE context_utm_source IS NOT NULL
    GROUP BY 1
    ORDER BY 2 DESC
    
'''

execute_sql(sql)

                                   context_utm_source  count
0                                           pepperjam  12588
1                  Email Newsletter - Engaged Segment   9662
2                                      googleshopping   7826
3                                            facebook   4707
4                                           pinterest   2306
5                                                bing    554
6                                          IGShopping    246
7                                           instagram    206
8                                      Welcome Series    179
9                                            referral    152
10                                            shopify     98
11                                              yotpo     70
12                                               blog     67
13                                      BrowseAbandon     36
14                           TradeWelcome_SetPassword     36
15  Trade Customer Approved - Welcome & Reset Pass...     29
16                                        AbandonCart     27
17                                          Pinterest     24
18                                        BackInStock     18
19                                   Email Newsletter     13
20                       KL - 120 Day Engaged Segment     12
21                                  connexityshopping      9
22                 Email+Newsletter+-+Engaged+Segment      6
23                                 Reactivation Email      4
24                                   ThankYou_Bedding      4
25                                    curalate_reveal      4
26                                           Facebook      4
27                                          Instagram      3
28                                           Elevator      2
29                                             tiktok      1
30                    KL - 120 Day Engaged Segment V3      1
31                              CareInstructions_Mask      1

In [349]:
# What is the average # of page visits per session?

sql = '''
    WITH page_views AS (
    SELECT
        hashed_session_id,
        COUNT(DISTINCT context_page_path) AS count
    FROM all_events_enriched
    GROUP BY 1 
    HAVING COUNT(DISTINCT context_page_path) > 0)
    
    SELECT 
        AVG(count)
    FROM page_views
    
'''

execute_sql(sql)

        avg
0  1.381555

In [352]:
# Does the utm source affect the average amount of page views per session?

sql = '''
    WITH page_views AS (
    SELECT
        hashed_session_id,
        context_utm_source,
        COUNT(DISTINCT context_page_path) AS count
    FROM all_events_enriched
    GROUP BY 1,2
    HAVING COUNT(DISTINCT context_page_path) > 0)
    
    SELECT 
        context_utm_source,
        AVG(count)
    FROM page_views
    GROUP BY 1 
    ORDER BY 2 DESC
    
'''

execute_sql(sql)

                                   context_utm_source       avg
0   Trade Customer Approved - Welcome & Reset Pass...  6.000000
1                                               yotpo  2.333333
2                                      Welcome Series  2.296296
3                                           instagram  1.704545
4                                          IGShopping  1.700000
5                                                bing  1.479452
6                  Email Newsletter - Engaged Segment  1.467729
7                                            facebook  1.449811
8                                                None  1.372025
9                                            referral  1.298246
10                                     googleshopping  1.276807
11                                               blog  1.263158
12                                      BrowseAbandon  1.250000
13                                            shopify  1.206897
14                       KL - 120 Day Engaged Segment  1.200000
15                                          pepperjam  1.164162
16                                        AbandonCart  1.125000
17                                          pinterest  1.083004
18                                          Instagram  1.000000
19                                        BackInStock  1.000000
20                                  connexityshopping  1.000000
21                                    curalate_reveal  1.000000
22                 Email+Newsletter+-+Engaged+Segment  1.000000
23                                           Facebook  1.000000
24                           TradeWelcome_SetPassword  1.000000
25                                          Pinterest  1.000000
26                              CareInstructions_Mask  1.000000
27                                 Reactivation Email  1.000000
28                                             tiktok  1.000000
29                                           Elevator  1.000000
30                    KL - 120 Day Engaged Segment V3  1.000000
31                                   Email Newsletter  1.000000
32                                   ThankYou_Bedding  1.000000

In [356]:
# What is the average loading time for each page visit

sql = '''
    SELECT
        hashed_session_id, 
        timestamp_server - timestamp_client AS response_time
    FROM all_events_enriched
    ORDER BY 2 DESC
'''


execute_sql(sql)

# looks like there are some long delays, lets investigate further

                       hashed_session_id          response_time
0       3effd9bb15729be2ac78c8cf4b3cddc2 0 days 03:57:50.540000
1       3effd9bb15729be2ac78c8cf4b3cddc2 0 days 03:57:50.143000
2       3effd9bb15729be2ac78c8cf4b3cddc2 0 days 03:57:50.141000
3       3effd9bb15729be2ac78c8cf4b3cddc2 0 days 03:57:50.090000
4       3effd9bb15729be2ac78c8cf4b3cddc2 0 days 03:57:49.916000
...                                  ...                    ...
113312  dba579e74bf49785d04b77e6759fd6ea        0 days 00:00:00
113313  95dca04f597ecb85d3b2abfbe3cc95a2        0 days 00:00:00
113314  2d52d299b964febdec3e000f695a0916        0 days 00:00:00
113315  2e47e432d6a610ff6d02dee6571b4195        0 days 00:00:00
113316  d62b0faf590ad3b473e840a156ed5e78        0 days 00:00:00

[113317 rows x 2 columns]

In [359]:
sql = '''
    WITH long_responses AS (SELECT
        *
    FROM all_events_enriched
    WHERE DATE_PART('second', timestamp_server-timestamp_client) >= 30)
    
    SELECT
        context_location_city,
        COUNT(*)
    FROM long_responses 
    WHERE event_id IN (SELECT event_id FROM long_responses)
    GROUP BY 1
    ORDER BY 2 DESC
    LIMIT 15
'''


execute_sql(sql)

   context_location_city  count
0                Toronto     59
1               Lakeland     31
2          San Francisco     23
3             Washington     22
4               Brooklyn     19
5                Chicago     18
6           White Plains     16
7                Jackson     16
8                Phoenix     15
9               New York     15
10                Denver     14
11                Austin     12
12        Salt Lake City     11
13              Westwood     11
14                Boston      9

In [364]:
# are the long load times just a consequence of having many visits in that city?

sql = '''
    
    SELECT
        context_location_city,
        SUM(CASE WHEN DATE_PART('second', timestamp_server-timestamp_client) >= 30 THEN 1 ELSE 0 END) AS over_30s_loads,
        COUNT(*) AS total_events,
        (SUM(CASE WHEN DATE_PART('second', timestamp_server-timestamp_client) >= 30 THEN 1 ELSE 0 END)) / COUNT(*)::float AS ratio
    FROM all_events_enriched
    GROUP BY 1 
    ORDER BY 2 DESC
    LIMIT 15

'''

execute_sql(sql)

   context_location_city  over_30s_loads  total_events     ratio
0                Toronto              59           747  0.078983
1               Lakeland              31            46  0.673913
2          San Francisco              23          2620  0.008779
3             Washington              22          1475  0.014915
4               Brooklyn              19          3931  0.004833
5                Chicago              18          2639  0.006821
6           White Plains              16            64  0.250000
7                Jackson              16           157  0.101911
8                Phoenix              15           408  0.036765
9               New York              15          4129  0.003633
10                Denver              14           928  0.015086
11                Austin              12          1631  0.007357
12        Salt Lake City              11           385  0.028571
13              Westwood              11            45  0.244444
14                Boston               9           454  0.019824

Further Questions:

I think it would be very interesting to understand the average session time, since the longer a user is browsing the site, the more likely they are to make a purchase. I wonder if its common practice to segment or cutoff browsing sessions to certain lengths in order to make a meaningful analysis. For example, if a user has left the web page open for hours before navigating to a new page, would it be considered the same session in the analysis?

It might also be interesting to collect further information on the device each event is tied to. Marketers know the difference in consumer behavior between iPhone/Android users for example, and this might be an interesting dimension to analyze when thinking about product design, for example. 

Also, I think it would be interesting to collect (if this is possible) information about the variation of Page design a user may land at. If Company XYZ is running different variants to drive conversion, this data could be useful for understanding the results of A/B testing. 

Lastly, if there are any recommendation engines powering the user experience, it could be helpful to know if the source of an event was triggered through a recommendation. This data could be used in a feedback loop to further customize and refine the recommendation algorithm.

# Data Cleaning

For this part, I will be using Python's Pandas because I believe it makes the process of EDA/Data Cleansing much simpler. With the wide breadth of I/O tools available to Python/Modern Databases, there's no reason not to use Pandas as it has a lot of handy functions that are quite verbose in SQL. Once the logic has been scoped in Python, then the work of implementing the code in SQL can be done (for better integration with Data Transformation tools like DBT!)

In [365]:
df = pd.read_sql('all_events', engine)

In [368]:
df.isnull().sum()

event_id                         0
hashed_session_id                0
hashed_customer_id           88951
timestamp_client                 0
timestamp_server                 0
event_type                       0
event_value                 113037
context_device                   9
context_timezone                20
context_location_city         4638
context_location_region       3869
context_location_country        50
context_utm_source           74181
context_utm_medium           75718
context_utm_campaign         82350
context_utm_term            112173
context_utm_content         106796
context_page_path             1234
context_page_search          46887
context_page_url              1234
context_referrer_path       111833
context_referrer_search     112498
context_referrer_url        111833
pr_item_product_name            35
pr_item_variant_name            47
pr_item_price                   35
pr_item_compare_at_price    104503
pr_item_material             10870
pr_item_color                27899
pr_item_size                113037
pr_item_quantity            109293
dtype: int64

As far as the data is concerned, the high # of NULL hashed_customer_ids can make identity stitching an issue. Using the customer_sessions_table, we were able to identify ~14k identities. In order to bring this # higher, it would make sense to collect more info on the user browsing the site, maybe using a tool such as Snowplow Analytics. With more unambiguous customer_ids...it would alllow more robust customer behavior analysis.

Interestingly, the event_type field seems to be completely NULL. This could be a bug or maybe an unnecessary field as the event_value column contains all the needed info in determining which stage of the purchase funnel each event belongs to.

Also, the item_size field is completely NULL. This doesn't make sense since the customer would have to select a size when adding an item to the cart/purchasing. 

Furthermore, many of the context_utm fields and context_referrer fields are missing. These fields can be very important in understanding the effectiveness of online marketing campaigns. I'm not sure if this is expected but it could be worth looking into why so many fields are blank.

In [379]:
columns = ['context_utm_source','context_utm_medium','context_utm_campaign','context_utm_term','context_utm_content']

for column in columns:
    print(column + '\n')
    
    print('Unique Values \n')
    print(df[column].unique())
    print('\n')

context_utm_source

Unique Values

[None 'pepperjam' 'facebook' 'googleshopping' 'pinterest'
 'Email Newsletter - Engaged Segment' 'instagram' 'IGShopping'
 'AbandonCart' 'bing' 'blog' 'yotpo' 'Email Newsletter' 'referral'
 'shopify' 'Welcome Series' 'Pinterest' 'BackInStock' 'connexityshopping'
 'Email+Newsletter+-+Engaged+Segment' 'KL - 120 Day Engaged Segment'
 'ThankYou_Bedding' 'BrowseAbandon' 'Instagram'
 'Trade Customer Approved - Welcome & Reset Password' 'Reactivation Email'
 'curalate_reveal' 'KL - 120 Day Engaged Segment V3'
 'TradeWelcome_SetPassword' 'Facebook' 'Elevator' 'tiktok'
 'CareInstructions_Mask']


context_utm_medium

Unique Values

[None 'referral' 'social' 'cpc' 'email' 'Social' 'landing_page']


context_utm_campaign

Unique Values

[None 'affiliate' 'prospecting' 'shoppingfeed'
 '20201026_TexturedBedding (TBduAA)' 'organic_social' 'retargeting'
 'General ATC 2 (KC6WBy)' 'Search | Branded | Conv | BNG | EverG'
 'Design-Inspiration' '20201024_Mattress (S4s86Q)' 'Learn-Education'
 'timeout' '20201019_HolidayGiftGuide (RBPLQk)' 'How Tos-Education'
 'influencer' 'shipping_confirmation' 'WelcomeShopTheLook (NXAYK5)'
 'BackInStock (VcyDqY)' '20200401_SideSleeperPillow (Hs6QAL)'
 '20201023_PleaseDoTouch+(VXah7v)' '4952664111'
 'Search | BNG | US | Brand | Exact | Desktop'
 'Behind The Seams-Education' 'WelcomeProductReviews (QigkjH)'
 'Search | BNG | US | Brand | BMM | Mobile'
 '20201023_PleaseDoTouch (VXah7v)' '6368233241'
 '20200930_TreatYourself (UaF6DT)' 'WelcomeCustomer1 (JxRqdP)' 'map_logo'
 'Learn-Inspiration' '20201014_TouchGuide (XHhCe6)'
 'ThankYou_Bedding: Email #1 (PBfKF2)' 'BrowseAbandon_General (PYT2tV)'
 '131940' '5658947326' 'General ATC 1 (J3bPXP)' 'shopping'
 '2_pc_dpa_og_061119' 'Search | BNG | US | Brand | Exact | Mobile'
 'BrowseAbandon_Mattress (LLzgZ4)' 'Story' '9638599168'
 '20201016_BabyCollection (XjmueY)' '20201010_RibbedQuilt (WNWKpb)'
 '202009121_CloudCotton (SaQKKN)' 'WelcomeProspect (LN3PE9)'
 'Email #1 (M5SZvj)' 'Bath ATC 1 (KwPKCg)' 'Learn- Education'
 'BrowseAbandon_Bath (J7ezPL)' 'Reactivation Email 1 (HkKKQw)'
 '20201028_NewDecor (S49udZ)' 'pos_and_mobile_receipt'
 '20201021_TabletopLaunch (TCuumR)' '1816890091'
 '20201017_Loungewear (SJCmxj)' 'WelcomeActivation (WDe3ZC)'
 '20200902_SpeckledBath (SPnSDF)' '20200916_Robes (Ug35Yh)'
 'BrowseAbandon_Decor (Qq3icT)' 'Design- Inspiration'
 '20200910_WarmColors (ScxsXc)' '20201003_SlippersLaunch (RHjuLF)'
 '20191120_PJsRobesSlippers (NABFHS)' 'design'
 'Search | BNG | US | Brand | BMM | Desktop'
 'TradeWelcome_PasswordReset: Email #1 (M5SZvj)'
 '20191021_TravelKit (Kppdnp)' '6664777344' 'Facebook Shop' '7699860517'
 'Mask Care Instructions (RchmxH)' '20200821_Honeycomb (WPPSps)']


context_utm_term

Unique Values

[None
 'curalate_igt_direct__s_1745_89ccbf0d1a97a3a0fe08060c55705a9127e0a5ad58730f9fc0b82dd904ef81e2'
 'curalate_igt_direct__s_1745_dddb9a17edbae7d723524909e49a132fed122a43cd1ed48afe40605d42df39e9'
 'parachute bedding' 'Wool Mattress Toppers' 'Side Sleeper Pillow'
 'Wool Dryer Balls'
 'curalate_igt_direct__s_1745_1fba9305ce1131cbbf6becafc6570fa11cd2e7268a39867862984e95c4b6eba9'
 'curalate_igt_direct__s_1745_fdb62428d853f724fbb1871961189acd8465987ce2129062718ca2c5ee4f2f1d'
 'Pieced Quilt'
 'curalate_igt_direct__s_1745_0411a23f3bf1c0d2cd1630e2250398f121bb1afd6645850c45d9d09108a1f41f'
 'parachute' 'Mattress Pads' '+parachute +slippers'
 'curalate_igt_direct__s_1745_b4033ec3dbd5548d96cf86d286fa3942039069e597cd41f29cc5e461852cee96'
 'curalate_igt_direct__s_1745_4c9eb08b2f4de1c10137412736d7354d01b786d485235290ad4fef5a964dbaf9'
 'parachute linen sheet set' 'parachute store' 'parachute home'
 'parachute down pillow' 'handcrafted, porcelain diffuser'
 'curalate_igt_direct__s_1745_9fd3ae56cb537621203eeca647cdcd8c150f0f115747e1c8a646949885fc39b8'
 'curalate_igt_direct__s_1745_eac3f4a1c3bb702bd7981ac529b0d69fb58edd9b28bb956770ac7b7c1ceeac83'
 'curalate_igt_direct__s_1745_0cd8e6f6f5c2a116beee8c8998cd37512fb6824a9c22650917036a2a8f5358dc'
 'curalate_igt_direct__s_1745_7a02dd76615327522484675bffcbe85160b3e63316d8c05f3163bb2947126e35'
 'Down Duvet'
 'curalate_igt_direct__s_1745_437a8028a0cb398b55e29724d839fcce5a5eff003965255a9891ee12c4665b37'
 'Choose Medium'
 'curalate_igt_direct__s_1745_73b1989ae4817b32a7cfc35a6a85cc28be762d080829fbc1197d1ba638d4ef93'
 'curalate_igt_direct__s_1745_ec0cca3bbdef91b32a5b284690733a6c0735236f848ae7761463902e5bc7fd9c'
 'curalate_igt_direct__s_1745_b6522a0b536a8c952985f12764eda19912c12067f2e29e2a6ecd86c7023b9c2a'
 'parachute linen'
 'curalate_igt_direct__s_1745_231dedf8a356493cd93fc87b6bbc274c6aace52f8c31133ccdfe1bcc816cb5b4'
 'parachute waffle robe'
 'curalate_igt_direct__s_1745_f841733ee33b772afc68ff3ace464719a3e66654b542f561c28dc9a08efb23f5'
 'curalate_igt_direct__s_1745_2295725e1b2bdb8d0683dc9b63fe41e2ac178c3770ac62237842dc332e37d015'
 'curalate_igt_direct__s_1745_ae428d338cb351ca1ccdafe3e5c2ae62e94d245d74e451bb956378280ba8046f'
 'curalate_igt_direct__s_1745_7ba4d8c1c35f5e229e812ccccaaf1d2fb0315a718eaa66eebaf7a7a7b2d3f73b'
 'curalate_igt_direct__s_1745_4ca3b3debb3187b8281cd4d5fee201aca796b34abf06753d7cade032b7675f47'
 'Pillow Protectors' 'Silk Pajama Set' 'Embroidered Silk Robe'
 'Percale Venice Set'
 'curalate_igt_direct__s_1745_5e2b80ad2b87507dcc435cd09e6d10b7c199ee5f490a3fbb28d1346662e4c065'
 'curalate_reveal_12570' 'parachute mattress topper' 'parachute mattress'
 'parachute home down pillow' 'parachute sheets'
 'curalate_igt_direct__s_1745_9f02a759ef3414931b27bcb52713f5579ae9dc65538b1f4142fef7891316cb27'
 'own' '+parachute home com'
 'curalate_igt_direct__s_1745_aac945756a49afb7cc83d342c23d7b0bacee9cd7c074aa3e7d4bcd9a904441a0'
 'parachute sheets discount code' 'parachute robe'
 'Down Alternative Duvet' 'parachute bed sheets' '+parachute'
 'parachute classic towel' 'parachute duvet' 'parachutehome com'
 'curalate_igt_direct__s_1745_dc068a59675d312a950f8d33daf1c6124d4f3a0b1c1e733b9abc552387a0032a'
 'parachute robes'
 'curalate_igt_direct__s_1745_283f4fe1d8a2c4d0547e3311950dface6d6a320c2459abb7c048e2b1d8c418d4']


context_utm_content

Unique Values

[None 'bedding' 'jonocollab' 'bio' 'lastchance' 'dpa' 'robe' 'linen'
 'ritual-siesta' 'Branded'
 'ugc?utm_term=Master Bathroom?utm_term=bathroom'
 'Layer Your Bed Like a Stylist'
 'Pillow Guide: How to Choose the Right Pillow' 'story'
 'evergreen-waffle-robe' 'How to Care for Your Bedding' 'elysendean'
 'content' 'tasha' 'quilt?utm_term=minimalist bedroom' 'curtains' 'Brand'
 'The Low Down on Down' 'carissavianca' 'Slippers'
 'ugc?utm_term=bedroom curtains' 'Sheets' 'Bedding' 'Pillows - Down'
 'classic towels' 'How Oil Diffusing Helps You Sleep' 'ugc' 'ashleyhosmer'
 'Down Comforter 101 What Is Fill Power'
 'ugc?utm_term=kids Bathroom 5648207322' 'josipellicano'
 'Pillow Guide How to Choose the Right Pillow' 'nicksaysgo'
 'pinterest-buy-button-1483db9e4-7e89-4951-9916-0aff5467f0ff' 'mattress'
 'Robes' 'asmallcloset' 'matelasse' 'ugc?remodel=4725195144'
 'A.L.C. for Parachute: Behind the Design'
 'classic towels?utm_term=bathroom redecoration' 'heybabyhudson'
 'Mattress Pads' 'lindseytrapp_' 'Mattress' 'Rug Styling 101'
 'linen_venice' 'feed_editorial_all' 'cortelizabeth' 'cloud_cotton_quilt'
 'Site' 'chandra.rae' 'branchabode'
 'ugc?utm_term=master Bedroom 4191574847' 'mphaugust' 'Promo' 'Towels'
 'Duvet Covers' 'ugc?utm_term=bedroom decor diy' 'linen venice'
 'thehomegrownapple' 'Gift Guide']

Theres definitnely a lot of room in these columns for data cleansing. For example, in the context_utm_content field, there seems to be some URL type values such as 'ugc?utm_term=Master Bathroom?utm_term=bathroom'...are these searches in a search engine?

The overall story of these columns is that there is a lot of variation in naming conventions. Perhaps it could be useful to normalize the data and impute a INT id in place when doing further Analysis. Outside of an analyst/business person deeply acquainted with the data, it is confusing what each of the columns directly refers to due to the variance in the values. A data dictionary could be helpful here, since these fields are very important in understanding how users navigate to the web page and the overall effectiveness of marketing campaigns.

In [399]:
pd.set_option('display.max_columns', None) # let's make one last pass, while being able to view all of the columns in the Jupyter UI

In [400]:
df.sample(10)

,event_id,hashed_session_id,hashed_customer_id,timestamp_client,timestamp_server,event_type,event_value,context_device,context_timezone,context_location_city,context_location_region,context_location_country,context_utm_source,context_utm_medium,context_utm_campaign,context_utm_term,context_utm_content,context_page_path,context_page_search,context_page_url,context_referrer_path,context_referrer_search,context_referrer_url,pr_item_product_name,pr_item_variant_name,pr_item_price,pr_item_compare_at_price,pr_item_material,pr_item_color,pr_item_size,pr_item_quantity
72224,2020-10-28T16:30:57.016Z-108296592,8b6e83ec13fc700a97ac1b277295c6a9,None,2020-10-28 16:20:11+00:00,2020-10-28 16:20:11+00:00,viewed-variant,NaN,mobile,America/Los_Angeles,Santa Ana,California,United States,None,None,None,None,None,/products/percale-duvet-cover,?opt-color=white&opt-size=kingcal-king,https://www.parachutehome.com/products/percale...,None,None,None,Percale Duvet Cover,King/Cal King / White,190.0,NaN,percale,white,NaN,NaN
66458,2020-10-28T16:30:57.016Z-108297441,9b87c7cd7b333f29c314e5b58f89919b,04638911a6475e71b63a7215d8b729da,2020-10-28 16:23:33+00:00,2020-10-28 16:23:33+00:00,viewed-variant,NaN,desktop,America/Los_Angeles,Seattle,Washington,United States,None,None,None,None,None,/,None,https://www.parachutehome.com/,None,None,None,Braided Wool Rug,3x5 / Ivory,289.0,NaN,braided-wool,ivory,NaN,NaN
17940,2020-10-28T03:00:57.654Z-108152185,87c4a6cb0efe3f07e65ab3c1c5aa92fc,None,2020-10-28 02:41:03+00:00,2020-10-28 02:41:03+00:00,viewed-variant,NaN,mobile,America/Chicago,North Little Rock,Arkansas,United States,pepperjam,referral,affiliate,None,None,/products/starter-bathroom-bundle,?opt-color-towel=white,https://www.parachutehome.com/products/starter...,None,None,None,Classic Starter Bathroom Bundle,Color (Towel): White,225.0,267.0,starter-bathroom-bundle,white,NaN,NaN
112455,2020-10-29T00:00:57.381Z-108407864,f1cad0d960f582216c9eec5b5a684d45,None,2020-10-28 23:33:01.861000+00:00,2020-10-28 23:33:03+00:00,viewed-variant,NaN,mobile,America/New_York,Alexandria,Virginia,United States,None,None,None,None,None,/,None,https://www.parachutehome.com/,None,None,None,Quilt,Twin/Twin XL / White,219.0,NaN,percale-linen,white,NaN,NaN
72071,2020-10-28T17:30:57.108Z-108312326,339df5cd7503bac837371568e4d0e59a,None,2020-10-28 17:14:57+00:00,2020-10-28 17:14:57+00:00,viewed-variant,NaN,mobile,America/Los_Angeles,Vista,California,United States,None,None,None,None,None,/products/essential-quilt,?opt-color=bone&opt-size=kingcal-king,https://www.parachutehome.com/products/essenti...,None,None,None,Quilt,King/Cal King / Bone,269.0,NaN,percale-linen,bone,NaN,NaN
36955,2020-10-28T07:30:56.478Z-108211277,d4c0f69c465684558b28b54c4066c7ff,None,2020-10-28 07:12:30+00:00,2020-10-28 07:12:30+00:00,viewed-variant,NaN,mobile,America/Los_Angeles,Bellingham,Washington,United States,None,None,None,None,None,/products/linen-duvet-cover,?opt-color=white&opt-size=fullqueen,https://www.parachutehome.com/products/linen-d...,None,None,None,Linen Duvet Cover,Full/Queen / White,250.0,NaN,linen,white,NaN,NaN
93502,2020-10-28T21:00:57.445Z-108367857,9e29727170d9c26f3a0daf44a5b9e746,None,2020-10-28 20:43:15+00:00,2020-10-28 20:43:15+00:00,viewed-variant,NaN,desktop,America/Los_Angeles,Sacramento,California,United States,None,None,None,None,None,/,None,https://www.parachutehome.com/,None,None,None,Percale Duvet Cover,Full/Queen / White,170.0,NaN,percale,white,NaN,NaN
41098,2020-10-28T07:30:56.478Z-108210963,f3d6500f6e1364676a4ded3a40990bf0,None,2020-10-28 07:08:58.294000+00:00,2020-10-28 07:08:59+00:00,viewed-variant,NaN,mobile,America/Chicago,Madison,Wisconsin,United States,None,None,None,None,None,/,None,https://www.parachutehome.com/,None,None,None,The Mattress,Twin,1299.0,NaN,None,None,NaN,NaN
6480,2020-10-28T01:30:56.980Z-108122595,44d59048fad060851f7f734f1b68b8d4,None,2020-10-28 01:09:50.744000+00:00,2020-10-28 01:09:51+00:00,viewed-variant,NaN,desktop,America/New_York,Edgewater,New Jersey,United States,None,None,None,None,None,/,None,https://www.parachutehome.com/,None,None,None,Linen Duvet Cover,Full/Queen / White,250.0,NaN,linen,white,NaN,NaN
11288,2020-10-28T02:00:56.498Z-108132250,075e54c795b12f03d51f01a0a49dfeef,None,2020-10-28 01:39:55.620000+00:00,2020-10-28 01:39:56+00:00,viewed-variant,NaN,mobile,America/New_York,Olney,Maryland,United States,None,None,None,None,None,/products/classic-bathrobe,?opt-color=white,https://www.parachutehome.com/products/classic...,None,None,None,Classic Bathrobe,Small / White,99.0,NaN,aerocotton-robe,white,NaN,NaN

In [397]:
sql = '''
    SELECT
        context_location_country,
        SUM(CASE WHEN context_page_path = '/' THEN 1 ELSE 0 END) AS no_paths,
        COUNT(*) AS full_paths,
        SUM(CASE WHEN context_page_path = '/' THEN 1 ELSE 0 END) / COUNT(*) ::float AS ratio
    FROM all_events
    WHERE event_type='viewed-variant'
    AND pr_item_product_name IS NOT NULL
    GROUP BY 1 
    ORDER BY 4 DESC LIMIT 50
        
'''

execute_sql(sql)

   context_location_country  no_paths  full_paths     ratio
0                   Namibia         1           1  1.000000
1                  Bulgaria         2           2  1.000000
2                Montenegro         1           1  1.000000
3              Sint Maarten         3           3  1.000000
4                      Peru         3           3  1.000000
5                    Serbia         7           7  1.000000
6                Bangladesh         1           1  1.000000
7                  Guernsey         5           5  1.000000
8                  Slovakia         1           1  1.000000
9                     Qatar         1           1  1.000000
10               Madagascar         1           1  1.000000
11                 Slovenia         2           2  1.000000
12                  Georgia         5           5  1.000000
13                  Hungary         1           1  1.000000
14                  Jamaica         2           2  1.000000
15              Philippines        18          20  0.900000
16                    India       180         201  0.895522
17               Costa Rica         6           7  0.857143
18           Cayman Islands         5           6  0.833333
19                  Czechia         5           6  0.833333
20                   Brazil        14          17  0.823529
21                  Albania         9          11  0.818182
22                Argentina        25          31  0.806452
23                 Pakistan         8          10  0.800000
24                   Israel        19          24  0.791667
25             Saudi Arabia        16          22  0.727273
26                   Turkey        26          36  0.722222
27                  Denmark        22          32  0.687500
28                  Romania         6           9  0.666667
29                    Malta         2           3  0.666667
30                 Barbados         2           3  0.666667
31                   Panama         2           3  0.666667
32               Luxembourg         3           5  0.600000
33                    Chile         3           5  0.600000
34              New Zealand        41          73  0.561644
35                  Belgium         5           9  0.555556
36              South Korea        12          23  0.521739
37              Netherlands        14          27  0.518519
38                   France        30          59  0.508475
39                 Thailand         1           2  0.500000
40                   Mexico        29          60  0.483333
41                    Japan         8          17  0.470588
42                   Sweden         6          13  0.461538
43           United Kingdom       120         280  0.428571
44                    Spain        20          48  0.416667
45                  Ukraine         4          10  0.400000
46                Australia       101         261  0.386973
47                   Canada      1101        2861  0.384830
48                  Ireland        34          89  0.382022
49                   Russia         3           8  0.375000

Is this a data issue? It would make sense that if an event is registered, then the URL path to the item being viewed shouldn't be blank. Unless theres a subtlety in the data that I'm missing. It would make sense for the path to be '/' on the home page,but not when viewing a particular item?

In [398]:
sql = '''
    SELECT
        context_location_country,
        SUM(CASE WHEN context_page_path = '/' THEN 1 ELSE 0 END) AS no_paths,
        COUNT(*) AS full_paths,
        SUM(CASE WHEN context_page_path = '/' THEN 1 ELSE 0 END) / COUNT(*) ::float AS ratio
    FROM all_events
    WHERE event_type='started-checkout-variant'
    AND pr_item_product_name IS NOT NULL
    GROUP BY 1 
    ORDER BY 4 DESC LIMIT 50
        
'''

execute_sql(sql)

   context_location_country  no_paths  full_paths     ratio
0                    France         1           1  1.000000
1                    Brazil         1           1  1.000000
2                     India         1           1  1.000000
3                   Denmark         1           1  1.000000
4              Saudi Arabia        12          13  0.923077
5             United States      1127        2351  0.479370
6                    Canada        51         121  0.421488
7                 Australia         7          19  0.368421
8                   Germany         1           3  0.333333
9               Puerto Rico         1           3  0.333333
10                  Bermuda         1           4  0.250000
11     United Arab Emirates         0           2  0.000000
12              Netherlands         0           3  0.000000
13                   Taiwan         0           1  0.000000
14                   Latvia         0           1  0.000000
15                    Spain         0           1  0.000000
16                  Ukraine         0           1  0.000000
17                  Ireland         0           1  0.000000
18                   Poland         0           1  0.000000
19           United Kingdom         0           1  0.000000
20              Switzerland         0           1  0.000000

Definitely could be a data issue. Almost 50% of beginning checkout events don't have the path to a particular item, weird.